.admin-logo{
    text-align: center;
    .icon-logo_43x43{
        display: inline-block;
        position: relative;
        top: 10px;
    }
    .admin-logo-link{
        color: #000;
    }
}

.admin-login-form{
    margin-top: 10%;
}
.center_with_position_rel{
    position: relative;
    left: 50%;
    margin-left: -50px
}
