<div class="row" ng-controller="loginController as wm">
    <form name="wm.form" novalidate
          ng-submit="wm.login()"
          class="col s12 offset-s0 m6 offset-m3 admin_login_form">
        <h4 class="light valign admin_logo">
            <a class="admin_logo_link" href="/admin/#index">
                <i class="admin_logo icon-logo_43x43"></i>
                    <span class="hide-on-med-and-down">
                        Iamaplayer.io
                    </span>
            </a>
        </h4>
        <h6 class="light center-align ">Предъявите документы</h6>
        <div class="row valign margin_bottom_10">
            <div class="input-field offset-s2 col s8 light">
                <span class="errors_container hide-on-med-and-down">
                    <span class="ng-error-text" ng-show="wm.form.email.$error.required">
                        Email адрес нам необходим!
                    </span>
                    <span class="ng-error-text" ng-show="wm.form.email.$error.email">
                        Нет, это не верный Email адрес!
                    </span>
                </span>
                <input required ng-model="wm.data.email"
                   errors-carrier="errors_container"
                   name="email"
                   id="email"
                   type="email" class="text-green light">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row valign margin_bottom_10">
            <div class="input-field offset-s2 col s8 light">
                <span class="errors_container hide-on-med-and-down">
                    <span class="ng-error-text" ng-show="wm.form.password.$error.required">
                        Пароль нам <span ng-show="wm.form.email.$error.required">тоже</span> необходим!
                    </span>
                    <span class="ng-error-text" ng-show="wm.form.password.$error.password">
                        Нет, это не верный пароль!
                    </span>
                </span>
                <input required ng-model="wm.data.password"
                   errors-carrier="errors_container"
                   password-checker=""
                   name="password" id="password"
                   type="password" class="validate light text-light-green darken-4">
                <label for="password">Пароль</label>
            </div>
        </div>
        <div class="row valign remember_me_field">
            <div class="offset-s2 col s8 light">
                <p>
                    <input type="checkbox" name="data[f_remember_me]" id="remember_me" />
                    <label for="remember_me">Запомнить меня</label>
                </p>
            </div>
        </div>
        <div class="row valign-wrapper">
            <button class="btn waves-effect waves-light green accent-4 center_with_position_rel" type="submit" name="action">
                Войти
            </button>
        </div>
    </form>
</div>